# Web API â†’ Pandas (testing & reference only, not an ideal dataset)

**Source**:   
travelpayouts affiliate network   
https://travelpayouts.github.io/slate/?python#cheapest-tickets-grouped-by-month  


**Aggregation**:   
Cheapest tickets grouped by month    

**Description**:   
Returns the cheapest non-stop tickets, as well as tickets with 1 or 2 stops, for the selected route grouped by month.  
  
**Limitation of the data**:   
- It does not keep the history and only returns the future flight from now onwards  
- Very limited amount of data

# **Step 0 - Import and Install Libraries**

In [289]:
#do this if needed.
!pip install certifi

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (2024.8.30)

In [290]:
# urllib3 is a powerful, user-friendly HTTP client for Python
# to handle  data retrieval
import urllib3
from urllib3 import request

# to handle certificate verification
import certifi

# to manage json data
import json
import requests

# for pandas dataframes
import pandas as pd

# **Step 1 - Set Up Handler for Certificates and SSL Warnings**

In [291]:
# handle certificate verification and SSL warnings:
# reference https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl

http = urllib3.PoolManager(
    cert_reqs='CERT_REQUIRED',
    ca_certs=certifi.where())

# Creating a PoolManager instance for sending requests with outout any verification or warning handlings
#http = urllib3.PoolManager()

In [292]:
type(http)

urllib3.poolmanager.PoolManager

# **Step 2 - Get Data from Web API with Requests**

In [297]:
#url = 'https://booking-com.p.rapidapi.com/v1/car-rental/important-info?pick_up_datetime=2024-11-18%2013%3A00%3A00&driver_age=30&drop_off_datetime=2024-11-19%2013%3A00%3A00&from_country=it&locale=en-gb&pick_up_location_id=4123205&drop_off_location_id=4123205&vehicle_id=663317713'

# get data from the API; replace url with target source
url = "http://api.travelpayouts.com/v1/prices/monthly"

# Query: City of Origin = Singapore, Currency = SGD
querystring = {"origin":"SIN","currency":"SGD"}

# Set up header dictionary w/ API key according to documentation
headers = {'x-access-token': '321d6a221f8926b5ec41ae89a3b2ae7b'}

# Call the API
response = requests.get(url, headers=headers, params=querystring)

# **Step 3 - Read from JSON and print it out

In [299]:
data = response.json()
data

{'data': {'2024-11': {'origin': 'SIN',
   'destination': 'KUL',
   'airline': 'OD',
   'departure_at': '2024-11-25T10:30:00+08:00',
   'return_at': '2024-11-27T08:30:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 41,
   'flight_number': 802,
   'transfers': 0},
  '2024-12': {'origin': 'SIN',
   'destination': 'KUL',
   'airline': 'OD',
   'departure_at': '2024-12-19T10:30:00+08:00',
   'return_at': '2025-01-01T08:30:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 49,
   'flight_number': 802,
   'transfers': 0},
  '2025-01': {'origin': 'SIN',
   'destination': 'KUL',
   'airline': 'OD',
   'departure_at': '2025-01-21T10:30:00+08:00',
   'return_at': '2025-01-24T08:30:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 61,
   'flight_number': 802,
   'transfers': 0},
  '2025-02': {'origin': 'SIN',
   'destination': 'KUL',
   'airline': 'AK',
   'departure_at': '2025-02-28T08:55:00+08:00',
   'return_at': '2025-03-01T06:00:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 96,
   'flight_number': 702,
   'transfers': 0},
  '2025-03': {'origin': 'SIN',
   'destination': 'DPS',
   'airline': 'ID',
   'departure_at': '2025-03-26T16:10:00+08:00',
   'return_at': '2025-03-31T13:55:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 41,
   'flight_number': 7134,
   'transfers': 0},
  '2025-04': {'origin': 'SIN',
   'destination': 'KUL',
   'airline': 'AK',
   'departure_at': '2025-04-07T21:20:00+08:00',
   'return_at': '2025-04-11T06:05:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 97,
   'flight_number': 720,
   'transfers': 0},
  '2025-05': {'origin': 'SIN',
   'destination': 'DPS',
   'airline': 'QZ',
   'departure_at': '2025-05-19T17:20:00+08:00',
   'return_at': '2025-05-22T07:10:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 180,
   'flight_number': 507,
   'transfers': 0},
  '2025-06': {'origin': 'SIN',
   'destination': 'JKT',
   'airline': '8B',
   'departure_at': '2025-06-27T11:45:00+08:00',
   'return_at': '2025-07-12T21:50:00+07:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 183,
   'flight_number': 152,
   'transfers': 0},
  '2025-07': {'origin': 'SIN',
   'destination': 'JKT',
   'airline': 'QZ',
   'departure_at': '2025-07-23T12:00:00+08:00',
   'return_at': '2025-08-13T16:10:00+07:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 138,
   'flight_number': 267,
   'transfers': 0},
  '2025-08': {'origin': 'SIN',
   'destination': 'KUL',
   'airline': 'TR',
   'departure_at': '2025-08-02T17:00:00+08:00',
   'return_at': '2025-08-06T19:15:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 126,
   'flight_number': 468,
   'transfers': 0},
  '2025-09': {'origin': 'SIN',
   'destination': 'HKT',
   'airline': '3K',
   'departure_at': '2025-09-22T17:00:00+08:00',
   'return_at': '2025-09-29T18:40:00+07:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 141,
   'flight_number': 535,
   'transfers': 0},
  '2025-10': {'origin': 'SIN',
   'destination': 'MNL',
   'airline': '5J',
   'departure_at': '2025-10-13T01:10:00+08:00',
   'return_at': '2025-10-14T20:15:00+08:00',
   'expires_at': '2024-11-18T14:18:54Z',
   'price': 196,
   'flight_number': 804,
   'transfers': 0}},
 'currency': 'SGD',
 'success': True}

# **Step 4 - load data into DataFrame Object**

In [305]:
df = pd.DataFrame(data['data'])

# Transpose it
df = df.T

# print the dataframe
display(df)

,origin,destination,airline,departure_at,return_at,expires_at,price,flight_number,transfers
2024-11,SIN,KUL,OD,2024-11-25T10:30:00+08:00,2024-11-27T08:30:00+08:00,2024-11-18T14:18:54Z,41,802,0
2024-12,SIN,KUL,OD,2024-12-19T10:30:00+08:00,2025-01-01T08:30:00+08:00,2024-11-18T14:18:54Z,49,802,0
2025-01,SIN,KUL,OD,2025-01-21T10:30:00+08:00,2025-01-24T08:30:00+08:00,2024-11-18T14:18:54Z,61,802,0
2025-02,SIN,KUL,AK,2025-02-28T08:55:00+08:00,2025-03-01T06:00:00+08:00,2024-11-18T14:18:54Z,96,702,0
2025-03,SIN,DPS,ID,2025-03-26T16:10:00+08:00,2025-03-31T13:55:00+08:00,2024-11-18T14:18:54Z,41,7134,0
2025-04,SIN,KUL,AK,2025-04-07T21:20:00+08:00,2025-04-11T06:05:00+08:00,2024-11-18T14:18:54Z,97,720,0
2025-05,SIN,DPS,QZ,2025-05-19T17:20:00+08:00,2025-05-22T07:10:00+08:00,2024-11-18T14:18:54Z,180,507,0
2025-06,SIN,JKT,8B,2025-06-27T11:45:00+08:00,2025-07-12T21:50:00+07:00,2024-11-18T14:18:54Z,183,152,0
2025-07,SIN,JKT,QZ,2025-07-23T12:00:00+08:00,2025-08-13T16:10:00+07:00,2024-11-18T14:18:54Z,138,267,0
2025-08,SIN,KUL,TR,2025-08-02T17:00:00+08:00,2025-08-06T19:15:00+08:00,2024-11-18T14:18:54Z,126,468,0
2025-09,SIN,HKT,3K,2025-09-22T17:00:00+08:00,2025-09-29T18:40:00+07:00,2024-11-18T14:18:54Z,141,535,0
2025-10,SIN,MNL,5J,2025-10-13T01:10:00+08:00,2025-10-14T20:15:00+08:00,2024-11-18T14:18:54Z,196,804,0